<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="Really Simple Plugins" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/squizlabs/PHP_CodeSniffer/master/phpcs.xsd">

	<description>Burst specific standards</description>

	<!--
	#############################################################################
	COMMAND LINE ARGUMENTS
	https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-Ruleset
	#############################################################################
	-->

	<file>.</file>

	<!-- Exclude the Composer Vendor directory. -->
	<exclude-pattern>/vendor/*</exclude-pattern>
	<exclude-pattern>/tests/*</exclude-pattern>

	<!-- Exclude the Node Modules directory. -->
	<exclude-pattern>/node_modules/*</exclude-pattern>
	<exclude-pattern>/helpers/*</exclude-pattern>
	<exclude-pattern>*/imprintjs/*</exclude-pattern>
	<exclude-pattern>gulpfile.js</exclude-pattern>
	<exclude-pattern>build/*</exclude-pattern>
	<exclude-pattern>*.min.js</exclude-pattern>
	<!--	Exlcude all JS from rules-->
	<exclude-pattern>*.js</exclude-pattern>

	<!-- Exclude minified CSS file. -->
	<exclude-pattern>*min.css</exclude-pattern>

	<!-- Strip the filepaths down to the relevant bit. -->
	<arg name="basepath" value="."/>

	<!-- Check up to 8 files simultaneously. -->
	<arg name="parallel" value="8"/>


	<!--
	#############################################################################
	SET UP THE RULESETS
	#############################################################################
	-->

	<!-- Include the WordPress-Extra standard. -->
	<rule ref="WordPress-Extra">
		<!--
		We may want a middle ground though. The best way to do this is add the
		entire ruleset, then rule by rule, remove ones that don't suit a project.
		We can do this by running `phpcs` with the '-s' flag, which allows us to
		see the names of the sniffs reporting errors.
		Once we know the sniff names, we can opt to exclude sniffs which don't
		suit our project like so.

		The below two examples just show how you can exclude rules/error codes.
		They are not intended as advice about which sniffs to exclude.
		-->

		<!--
		<exclude name="WordPress.WhiteSpace.ControlStructureSpacing"/>
		<exclude name="Modernize.FunctionCalls.Dirname.Nested"/>
		-->

	</rule>

	<!-- Let's also check that everything is properly documented. -->
	<rule ref="WordPress-Docs"/>

	<!-- Add in some extra rules from other standards. -->
	<rule ref="Generic.Commenting.Todo"/>
	<rule ref="Generic.Arrays.DisallowLongArraySyntax"/>

	<!-- Check for PHP cross-version compatibility. -->
	<!--
	To enable this, the PHPCompatibilityWP standard needs
	to be installed.
	See the readme for installation instructions:
	https://github.com/PHPCompatibility/PHPCompatibilityWP
	For more information, also see:
	https://github.com/PHPCompatibility/PHPCompatibility
	-->
	<!--
	<config name="testVersion" value="5.6-"/>
	<rule ref="PHPCompatibilityWP">
		<include-pattern>*\.php</include-pattern>
	</rule>
	-->

	<config name="testVersion" value="7.4-"/>
	<rule ref="PHPCompatibilityWP">
		<include-pattern>*\.php$</include-pattern>
	</rule>
	<!--
	#############################################################################
	SNIFF SPECIFIC CONFIGURATION
	#############################################################################
	-->

	<!--
	To get the optimal benefits of using WordPressCS, we should add a couple of
	custom properties.
	Adjust the values of these properties to fit our needs.

	For information on additional custom properties available, check out
	the wiki:
	https://github.com/WordPress/WordPress-Coding-Standards/wiki/Customizable-sniff-properties
	-->
	<config name="minimum_wp_version" value="6.0"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="burst-statistics"/>
			</property>
		</properties>
	</rule>

<!-- Exclude all files from this WordPress.WP.I18n.UnorderedPlaceholdersText	-->
	<rule ref="WordPress.WP.I18n.UnorderedPlaceholdersText">
		<exclude-pattern>*.php</exclude-pattern>
	</rule>

	<rule ref="WordPress.WP.I18n.MissingArg">
		<properties>
			<property name="text_domain" type="array">
				<element value="burst-statistics"/>
			</property>
		</properties>
	</rule>

	<!-- Exclude JS files for WordPress.WhiteSpace.OperatorSpacing-->
	<rule ref="WordPress.WhiteSpace.OperatorSpacing">
		<exclude-pattern>*.js</exclude-pattern>
	</rule>

	<rule ref="WordPress.WP.I18n.MissingArgText">
		<properties>
			<property name="text_domain" type="array">
				<element value="burst-statistics"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.WP.I18n.NonSingularStringLiteralText">
		<properties>
			<property name="text_domain" type="array">
				<element value="burst-statistics"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.WP.I18n.NonSingularStringLiteral">
		<properties>
			<property name="text_domain" type="array">
				<element value="burst-statistics"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.WP.I18n.NonSingularConcatenatedString">
		<properties>
			<property name="text_domain" type="array">
				<element value="burst-statistics"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.WP.I18n.NonSingularConcatenatedStringText">
		<properties>
			<property name="text_domain" type="array">
				<element value="burst-statistics"/>
			</property>
		</properties>
	</rule>


	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="burst"/>
			</property>
		</properties>
	</rule>

</ruleset>