// new saved dropdown
.burst-settings-saved {
  display: none;
  opacity: 0;
  top: 20px;
  position: fixed;
  background-color: #fff;
  z-index: 999999;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
  box-shadow: 0 0 5px 5px rgba(222, 222, 222, 0.2);

  svg {
    path {
      fill: var(--rsp-color-success);
    }
  }

  .burst-settings-saved__text_and_icon {
    display: flex;
    align-content: center;
    margin: 10px 25px;

    span {
      display: flex;
      align-self: center;
      font-size: var(--rsp-fs-400);
      font-weight: 400;
      color: var(--rsp-grey-500);
      margin: 2px 3px;
    }

    div {
      display: flex;
      align-self: center;
    }
  }

  &.burst-settings-saved--fade-in {
    display: block;
    -webkit-animation: fadeInFromNone 5s ease-in-out;
    -moz-animation: fadeInFromNone 5s ease-in-out;
    -o-animation: fadeInFromNone 5s ease-in-out;
    animation: fadeInFromNone 5s ease-in-out;
  }

  @-webkit-keyframes fadeInFromNone {
    0% {
      display: none;
      opacity: 0;
      top: 20px;
    }

    5% {
      display: block;
      opacity: 0;
      top: -10px;
    }

    15% {
      display: block;
      opacity: 1;
      top: 20px;
    }
    90% {
      display: block;
      opacity: 1;
      top: 20px;
    }
    100% {
      display: none;
      opacity: 0;
      top: 20px;
    }
  }

  @-moz-keyframes fadeInFromNone {
    0% {
      display: none;
      opacity: 0;
      top: 20px;
    }

    5% {
      display: block;
      opacity: 0;
      top: -10px;
    }

    15% {
      display: block;
      opacity: 1;
      top: 20px;
    }
    90% {
      display: block;
      opacity: 1;
      top: 20px;
    }
    100% {
      display: none;
      opacity: 0;
      top: 20px;
    }
  }

  @-o-keyframes fadeInFromNone {
    0% {
      display: none;
      opacity: 0;
      top: 20px;
    }

    5% {
      display: block;
      opacity: 0;
      top: -10px;
    }

    15% {
      display: block;
      opacity: 1;
      top: 20px;
    }
    90% {
      display: block;
      opacity: 1;
      top: 20px;
    }
    100% {
      display: none;
      opacity: 0;
      top: 20px;
    }
  }

  @keyframes fadeInFromNone {
    0% {
      display: none;
      opacity: 0;
      top: 20px;
    }

    5% {
      display: block;
      opacity: 0;
      top: -10px;
    }

    15% {
      display: block;
      opacity: 1;
      top: 20px;
    }
    90% {
      display: block;
      opacity: 1;
      top: 20px;
    }
    100% {
      display: none;
      opacity: 0;
      top: 20px;
    }
  }
}