/* START TOOLTIP STYLES */
[burst-tooltip] {
  position: relative; /* opinion 1 */
  cursor: pointer;
}

/* Applies to all tooltips */
[burst-tooltip]::before,
[burst-tooltip]::after {
  text-transform: none;
  font-size: 13px;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}

[burst-tooltip]::before {
  content: '';
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}

[burst-tooltip]::after {
  content: attr(burst-tooltip); /* magic! */
  font-weight: 400;
  font-size: var(--rsp-fs-300);
  line-height: calc( var(--rsp-fs-300) * 1.4 );
  overflow: hidden;
  text-overflow: ellipsis;
  padding: var(--rsp-spacing-xs) var(--rsp-spacing-s);
  border-radius: calc( var(--rsp-border-radius) / 2);
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: var(--rsp-text-color);
  color: var(--rsp-text-color-invert);
  z-index: 1000; /* absurdity 2 */
  min-width:150px;
  text-align:left;
}

/* Make the tooltips respond to hover */
[burst-tooltip]:hover::before,
[burst-tooltip]:hover::after {
  display: block;
}

/* Make the tooltips respond to focus */
[burst-tooltip]:focus::before,
[burst-tooltip]:focus::after {
  display: block;
}



/* don't show empty tooltips */
[burst-tooltip='']::before,
[burst-tooltip='']::after {
  display: none !important;
}

/* FLOW: UP */
[burst-tooltip]:not([flow])::before,
[burst-tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}

[burst-tooltip]:not([flow])::after,
[burst-tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}

[burst-tooltip]:not([flow])::before,
[burst-tooltip]:not([flow])::after,
[burst-tooltip][flow^="up"]::before,
[burst-tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */
[burst-tooltip][flow^="down"]::before {
  top: 17px;
  border-top-width: 0;
  border-bottom-color: #333;
}

[burst-tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}

[burst-tooltip][flow^="down"]::before,
[burst-tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}

/* FLOW: LEFT */
[burst-tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}

[burst-tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.5em, -50%);
}

/* FLOW: RIGHT */
[burst-tooltip][flow^="right"]::before {
  top: 10px;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 23px);
  transform: translate(.5em, -50%);
}

[burst-tooltip][flow^="right"]::after {
  top: 10px;
  left: calc(100% + 23px);
  transform: translate(.5em, -50%);
  min-width:150px;
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */
[burst-tooltip]:not([flow]):hover::before, [burst-tooltip]:not([flow]):focus::before,
[burst-tooltip]:not([flow]):hover::after, [burst-tooltip]:not([flow]):focus::after,
[burst-tooltip][flow^="up"]:hover::before, [burst-tooltip][flow^="up"]:focus::before,
[burst-tooltip][flow^="up"]:hover::after, [burst-tooltip][flow^="up"]:focus::after,
[burst-tooltip][flow^="down"]:hover::before, [burst-tooltip][flow^="down"]:focus::before,
[burst-tooltip][flow^="down"]:hover::after, [burst-tooltip][flow^="down"]:focus::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[burst-tooltip][flow^="left"]:hover::before, [burst-tooltip][flow^="left"]:focus::before,
[burst-tooltip][flow^="left"]:hover::after, [burst-tooltip][flow^="left"]:focus::after,
[burst-tooltip][flow^="right"]:hover::before, [burst-tooltip][flow^="right"]:focus::before,
[burst-tooltip][flow^="right"]:hover::after, [burst-tooltip][flow^="right"]:focus::after {
  animation: tooltips-horz 300ms ease-out forwards;
}