---
title: "You're weekly insights for
{domain}
are here!"
preheader: "Here's your quick overview"
bodyClass: bg-grey-100
---

<x-main>
  <div class="bg-grey-100 text-black font-sans">
    <table align="center">
      <tr>
        <td class="w-[552px] max-w-full">
          <div class="my-12 sm:my-8 text-center">
            <img src="images/maizzle.png" width="70" alt="Logo">
          </div>
          <h1 class="text-center text-black font-normal text-2xl">
            You're weekly insights for <br/>
            <span class="text-3xl font-bold">{domain}</span> <br/>
            are here!
          </h1>
          <h2 class="text-center m-0 mt-8 text-base font-normal text-gray-600">
            Here's your quick overview:
          </h2>

          <table class="w-full p-6">
            <!-- First block - Compare   -->
            <tr>
              <td class="p-6 text-base text-slate-700 bg-white rounded-lg shadow-sm">
                <h3 class="p-0 m-0">
                  Compare
                </h3>
                <p class="py-1 m-0 text-sm text-grey-800">vs. previous week</p>

                <x-spacer height="24px"/>
                <table class="font-bold text-l w-full">
                  <tr class="leading-8">
                    <td class="w-1 pr-4">
                      x
                    </td>
                    <td class="w-72">
                      /
                    </td>
                    <td class="text-right w-fit text-green text-2xs">
                      20%
                    </td>
                    <td class="text-right w-fit">
                      20
                    </td>
                  </tr>
                </table>

                <p class="m-0 mt-4 text-right text-2sm font-bold">
                  <a href="/" class="text-grey-800 text-md">
                    See full report
                  </a>
                </p>
              </td>
            </tr>

            <tr role="separator">
              <td class="leading-5">&zwj;</td>
            </tr>
            <!-- Second block - Most viewed   -->
            <tr>
              <td class="p-6 text-base text-slate-700 bg-white rounded-lg shadow-sm">
                <h3 class="p-0 m-0">
                  Most viewed pages
                </h3>
                <p class="py-1 m-0 text-sm text-grey-800">Compared vs. previous week</p>

                <x-spacer height="24px"/>

                <table class="font-bold text-l w-full">
                  <tr class="leading-6">
                    <th class="font-normal text-sm text-left">
                      Page
                    </th>
                    <th class="font-normal text-sm text-right">
                      Pageviews
                    </th>
                  </tr>

                  <tr class="leading-8">
                    <td>
                      /
                    </td>
                    <td class="text-right">
                      20
                    </td>
                  </tr>

                  <tr class="leading-8">
                    <td>
                      /url/
                    </td>
                    <td class="text-right">
                      19
                    </td>
                  </tr>
                </table>


                <p class="m-0 mt-4 text-right text-2sm font-bold">
                  <a href="/" class="text-grey-800 text-md">
                    See full report
                  </a>
                </p>
              </td>
            </tr>

            <tr role="separator">
              <td class="leading-5">&zwj;</td>
            </tr>
            <!-- Third block - Top referrers   -->
            <tr>
              <td class="p-6 text-base text-slate-700 bg-white rounded-lg shadow-sm">
                <h3 class="p-0 m-0">
                  Top referrers
                </h3>
                <p class="py-1 m-0 text-sm text-grey-800">Compared vs. previous week</p>

                <x-spacer height="24px"/>

                <table class="font-bold text-l w-full">
                  <tr class="leading-6">
                    <th class="font-normal text-sm text-left">
                      Page
                    </th>
                    <th class="font-normal text-sm text-right">
                      Pageviews
                    </th>
                  </tr>

                  <tr class="leading-8">
                    <td>
                      /
                    </td>
                    <td class="text-right">
                      20
                    </td>
                  </tr>

                  <tr class="leading-8">
                    <td>
                      /url/
                    </td>
                    <td class="text-right">
                      19
                    </td>
                  </tr>
                </table>


                <p class="m-0 mt-4 text-right text-2sm font-bold">
                  <a href="/" class="text-grey-800 text-md">
                    See full report
                  </a>
                </p>
              </td>
            </tr>
            <tr role="separator">
              <td class="leading-5">&zwj;</td>
            </tr>
            <!-- Fourth block - Top countries   -->
            <tr>
              <td class="p-6 text-base text-slate-700 bg-white rounded-lg shadow-sm">
                <h3 class="p-0 m-0">
                  Top viewing countries
                </h3>
                <p class="py-1 m-0 text-sm text-grey-800">Compared vs. previous week</p>

                <x-spacer height="24px"/>

                <table class="font-bold text-l w-full">
                  <tr class="leading-6">
                    <th class="font-normal text-sm text-left">
                      Page
                    </th>
                    <th class="font-normal text-sm text-right">
                      Pageviews
                    </th>
                  </tr>

                  <tr class="leading-8">
                    <td>
                      /
                    </td>
                    <td class="text-right">
                      20
                    </td>
                  </tr>

                  <tr class="leading-8">
                    <td>
                      /url/
                    </td>
                    <td class="text-right">
                      19
                    </td>
                  </tr>
                </table>

                <p class="m-0 mt-4 text-right text-2sm font-bold">
                  <a href="/" class="text-grey-800 text-md">
                    See full report
                  </a>
                </p>
              </td>
            </tr>

            <tr role="separator">
              <td class="leading-5">&zwj;</td>
            </tr>

            <tr>
              <td class="text-center text-slate-600 text-xs px-6">
                <h2>
                  Discover all insights
                </h2>
                <p class="text-black text-base leading-6">
                  Dive deeper into your analytics and uncover new opportunities for {domain}.
                </p>
                <p class="m-0 mb-4 uppercase">
                  <x-button class="bg-wpBlue text-white" href="https://maizzle.com">
                    Explore your insights &rarr;
                  </x-button>
                </p>

                <!--                <x-spacer height="24px" />-->

                <x-divider space-y="32px" class="bg-grey-500"/>

                <p class="m-0 leading-4.5 italic">
                  This e-mail is sent from your own Wordpress website: {domain}. If you don't want to receive these
                  e-mails in your inbox.
                  Please go to the Burst settings page on your website and disable the email report setting or contact
                  the administrator of your website.
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
