.burst-wizard-help {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--rsp-spacing-xs);
  details{
    font-size: var(--rsp-fs-200);
    .burst-help-more-info {
      display: flex;
      flex-direction: row;
      margin-top: 12px;
    }
    summary {
      display: grid;
      grid-template-columns: 1fr auto;
      justify-content: space-between;
      font-size: var(--rsp-fs-300);
      font-weight: 500;
      cursor: pointer;
      &::-webkit-details-marker {
        display:none;
      }
      &:first-of-type {
        list-style-type: none;
      }
      .burst-icon{
        transition: all .25s ease-in-out;
        transform: rotate(0deg);
      }
    }
  }
  summary, p {
    font-size: var(--rsp-fs-200);
  }
  details[open]{
    padding: var(--rsp-spacing-s) var(--rsp-spacing-m);
    summary{
      padding: 0;
      padding-bottom: var(--rsp-spacing-xs);
      .burst-icon{
        transform: rotate(180deg);
      }
    }
  }
}

.burst-wizard-help {
  .burst-help-header {
    width:100%;
    display:flex;
    padding:10px;
    .burst-help-title{
      font-size: var(--rsp-fs-400);
      font-weight: 500;
    }
    .burst-help-control {
      margin-left:auto;
      cursor:pointer;
    }

  }
}

.burst-wizard-help-notice {
  width: 100%;
  @include burst-block;
  border-radius: var(--rsp-border-radius-s);
  height: fit-content;
  background-color: var(--rsp-dark-blue-faded);
  &.burst-warning {
    background-color: var(--rsp-yellow-faded);
  }
  summary, p{
    padding: var(--rsp-spacing-s) var(--rsp-spacing-m);
  }
}

