/**
*
* Prefix everything
* Name descriptively
* Structure radically
*
* CSS Structure
*	css/
*	├─ admin/
*	│  ├─ variables.scss
*	│  ├─ base.scss
*	│  ├─ layout.scss
*	│  ├─ modules/
*	│  │  ├─ button.scss
*	│  │  ├─ modal.scss
*	│  │  ├─ notices.scss
*	│  │  ├─ tips-and-tricks.scss
*	│  │  ├─ button.scss
*	│  ├─ states.scss
*	│  ├─ theme.scss
*	├─ admin.scss
*	├─ admin.min.css
*	├─ admin.css
*
*/

@import 'variables.scss';
@import 'admin/base.scss';
@import 'admin/layout.scss';
	@import 'admin/modules/wordpress.scss';
	@import 'admin/modules/buttons.scss';
	@import 'admin/modules/input-fields.scss';
	@import 'admin/modules/bullets.scss';
	@import 'admin/modules/tooltips.scss';
	@import 'admin/modules/icons.scss';
	@import 'admin/modules/daterangepicker.scss';
	@import 'admin/modules/notifications.scss';
	@import 'admin/modules/skeletons.scss';
	@import 'admin/modules/dashboard.scss';
	@import 'admin/modules/statistics.scss';
	@import 'admin/modules/progress.scss';
	@import 'admin/modules/other-plugins.scss';
	@import 'admin/modules/tips-tricks.scss';
	@import 'admin/modules/datatables.scss';
	@import '../css/admin/modules/widget';
@import 'admin/states.scss';
@import 'admin/theme.scss';
