/**
*
* CSS Structure
*	css/
*	├─ less/
*	│  ├─ variables.less
*	│  ├─ base.less
*	│  ├─ layout.less
*	│  ├─ modules/
*	│  │  ├─ button.less
*	│  │  ├─ modal.less
*	│  │  ├─ notices.less
*	│  │  ├─ tips-and-tricks.less
*	│  │  ├─ button.less
*	│  ├─ states.less
*	│  ├─ theme.less
*	├─ admin.less
*	├─ admin.min.css
*	├─ admin.css
*
*/
:root {
  --rsp-spacing-xxs: 5px;
  --rsp-spacing-xs: 10px;
  --rsp-spacing-s: 15px;
  --rsp-spacing-m: 20px;
  --rsp-spacing-l: 30px;
  --rsp-spacing-xl: 40px;
  --rsp-grid-margin: var(--rsp-spacing-xs);
  --rsp-grid-gap: var(--rsp-spacing-m);
  --rsp-border-radius: 12px;
  --rsp-border: 1px solid var(--rsp-border-color);
  --rsp-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  --rsp-border-color: #dfdfdf;
  --rsp-black: #333;
  --rsp-white: #fff;
  --rsp-yellow: #f4bf3e;
  --rsp-blue: #29b6f6;
  --rsp-dark-blue: #5A6FA5;
  --rsp-green: #2e8a37;
  --rsp-red: #D7263D;
  --rsp-pink: #E35899;
  --rsp-orange: #f39c12;
  --rsp-yellow-faded: rgba(244, 191, 62, 0.1);
  --rsp-blue-faded: rgba(41, 182, 246, 0.1);
  --rsp-dark-blue-faded: rgba(41, 182, 246, 0.1);
  --rsp-green-faded: rgba(46, 138, 55, 0.1);
  --rsp-red-faded: rgba(215, 38, 61, 0.1);
  --rsp-pink-faded: rgba(227, 88, 153, 0.1);
  --rsp-orange-faded: rgba(243, 156, 18, 0.1);
  --rsp-background-block-color: var(--rsp-white);
  --rsp-background-color: #f0f0f1;
  --rsp-input-background-color: #fff;
  --rsp-input-text-color: var(--rsp-text-color);
  --rsp-input-border-color: #8c8f94;
  --rsp-text-color: rgba(26, 26, 26, 0.9);
  --rsp-text-color-invert: rgba(255, 255, 255, 0.9);
  --rsp-text-color-white: rgba(255, 255, 255, 0.9);
  --rsp-text-color-light: rgba(69, 69, 82, 0.9);
  --rsp-grey-200: #fafafa;
  --rsp-grey-300: #ededed;
  --rsp-grey-400: #c6c6c6;
  --rsp-grey-500: #737373;
  --rsp-grey-600: #696969;
  --rsp-color-success: var(--rsp-green);
  --rsp-color-error: var(--rsp-red);
  --rsp-color-warning: var(--rsp-orange);
  --rsp-color-open: var(--rsp-yellow);
  --rsp-fs-100: 0.6125rem;
  --rsp-fs-200: 0.625rem;
  --rsp-fs-300: 0.8125rem;
  --rsp-fs-400: 0.875rem;
  --rsp-fs-500: 1rem;
  --rsp-fs-600: 1.125rem;
  --rsp-fs-700: 1.25rem;
  --rsp-fs-800: 1.5rem;
  --rsp-fs-900: 2.5rem;
}
.burst-block {
  background: var(--rsp-background-block-color);
  box-shadow: var(--rsp-box-shadow);
  border-radius: var(--rsp-border-radius);
}
/**
 * Base
 *
 * Default values for elements and resets.
 */
.burst {
  font-size: var(--rsp-fs-300);
  line-height: 1.5;
  color: var(--rsp-text-color);
  box-sizing: border-box;
  padding-bottom: 20px;
  margin: 0 0 0 -20px;
}
.burst .burst-noticed-hook-element {
  display: none !important;
}
.burst *,
.burst *:before,
.burst *:after {
  box-sizing: inherit;
}
.burst body,
.burst h1,
.burst h2,
.burst h3,
.burst h4,
.burst h5,
.burst h6,
.burst p,
.burst ol,
.burst ul {
  margin: 0;
  padding: 0;
}
.burst img {
  max-width: 100%;
  height: auto;
}
.burst h1,
.burst h2,
.burst h3,
.burst h4,
.burst h5,
.burst h6 {
  color: var(--rsp-text-color);
  letter-spacing: 0.4px;
  line-height: 1.5;
}
.burst .h0 {
  font-size: var(--rsp-fs-900);
  font-weight: 700;
}
.burst h1,
.burst .h1 {
  font-size: var(--rsp-fs-800);
  line-height: 1.5;
  font-weight: 700;
}
.burst h2,
.burst .h2 {
  font-size: var(--rsp-fs-700);
  font-weight: 700;
}
.burst h3,
.burst .h3 {
  font-size: var(--rsp-fs-600);
  font-weight: 600;
}
.burst h4,
.burst .h4 {
  font-size: var(--rsp-fs-500);
  font-weight: 600;
}
.burst h5,
.burst .h5 {
  font-size: var(--rsp-fs-400);
  font-weight: 400;
}
.burst h6,
.burst .h6 {
  font-size: var(--rsp-fs-300);
}
.burst p {
  color: var(--rsp-text-color);
  font-weight: 400;
  font-size: var(--rsp-fs-400);
  line-height: 1.5;
  max-width: 60ch;
}
.burst .small-text {
  font-size: var(--rsp-fs-200);
  line-height: 1.5;
  color: var(--rsp-text-color-light);
}
.burst a {
  font-size: 1em;
}
/* Grid */
.burst .burst-header,
.burst .burst-content-area {
  max-width: calc(100% - var(--rsp-spacing-xl) * 4);
  margin: 0 auto;
}
.burst .burst-header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  box-sizing: border-box;
  background-color: #fff;
}
.burst .burst-header img {
  margin: auto 0;
  width: 74px;
}
.burst .burst-header-left {
  display: flex;
  font-size: var(--rsp-fs-400);
}
.burst .burst-header-left .burst-header-menu {
  margin: auto 15px;
}
.burst .burst-header-left .burst-header-menu ul {
  display: flex;
}
.burst .burst-header-left .burst-header-menu a {
  padding: 23px 15px;
  text-decoration: none;
  color: var(--rsp-text-color);
  height: 100%;
  border-bottom: 4px solid transparent;
  transition: border 0.3s ease-out;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.burst .burst-header-left .burst-header-menu a.active {
  border-bottom: 4px solid var(--rsp-brand-primary);
}
.burst .burst-header-left .burst-header-menu a:hover {
  color: var(--rsp-brand-primary);
}
.burst .burst-header-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: var(--rsp-spacing-s);
}
.burst .burst-header-right select {
  max-width: 60ch;
}
.burst .burst-content-area {
  margin-top: calc(var(--rsp-grid-margin) * 2);
}
.burst .burst-header-container {
  background: #fff;
}
.burst .burst-date-container {
  background: #fff;
  cursor: pointer;
  padding: 4px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  white-space: nowrap;
}
.burst .burst-grid {
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 15px) [col-start]);
  grid-auto-rows: max-content;
  gap: var(--rsp-grid-gap);
  min-height: calc(100vh - 32px - 80px - 20px - var(--rsp-grid-gap));
}
.burst .burst-grid-container {
  background: var(--rsp-background-block-color);
  box-shadow: var(--rsp-box-shadow);
  border-radius: var(--rsp-border-radius);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  flex-basis: 100%;
  min-height: 100%;
}
.burst .burst-grid-container p {
  font-size: var(--rsp-fs-300);
}
.burst .burst-grid-container.no-background {
  background: none;
  border: none;
  box-shadow: none;
}
.burst .burst-grid-container.column-2 {
  grid-column: span 2;
}
.burst .burst-grid-container.row-2 {
  grid-row: span 2;
}
@media screen and (max-width: 780px) {
  .burst .burst-grid-container {
    grid-column: span 4 !important;
  }
}
@media screen and (max-width: 1024px) {
  .burst .burst-grid-container.column-2 {
    grid-column: span 4 !important;
  }
}
.burst .burst-grid-header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--rsp-spacing-s) var(--rsp-spacing-l);
}
.burst .burst-grid-title {
  padding: 9px 0 4px 0;
}
.burst .burst-grid-controls {
  font-size: var(--rsp-fs-300);
  display: flex;
  gap: var(--rsp-spacing-s);
}
.burst .burst-grid-content {
  width: 100%;
  box-sizing: border-box;
  padding: 0 var(--rsp-spacing-l);
  flex-grow: 100;
}
.burst .burst-grid-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--rsp-grid-margin);
  width: 100%;
  box-sizing: border-box;
  padding: var(--rsp-spacing-s) var(--rsp-spacing-l);
  align-self: flex-end;
}
.burst a.button,
.burst button,
.burst input {
  font-size: var(--rsp-fs-400);
  font-weight: 300;
  letter-spacing: 0.5px;
}
.burst a.button.button-primary,
.burst button.button-primary,
.burst input.button-primary {
  background: var(--rsp-dark-blue);
  color: var(--rsp-text-color-white);
}
.burst a.button.button-secondary,
.burst button.button-secondary,
.burst input.button-secondary {
  background: transparent;
  color: var(--rsp-dark-blue);
  border-color: var(--rsp-dark-blue);
}
.burst a.button.button-black,
.burst button.button-black,
.burst input.button-black {
  border: 0 solid transparent;
  background: var(--rsp-black);
  color: var(--rsp-text-color-white);
}
.burst a.button:hover,
.burst button:hover,
.burst input:hover {
  opacity: 0.9;
}
/* field styles */
.burst {
  /*
      cool checkbox sliders
  */
}
.burst input,
.burst select {
  background: var(--rsp-input-background-color);
  color: var(--rsp-input-text-color);
}
.burst .field-group .burst-label {
  text-align: left;
  margin: var(--rsp-spacing-xs) var(--rsp-spacing-xs) var(--rsp-spacing-xs) 0;
}
.burst .field-group.first .burst-label {
  padding-top: 0;
}
.burst .field-group.burst-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burst .field-group.burst-checkbox .burst-field {
  margin-left: auto;
}
.burst .field-group .weightslider {
  width: 100%;
}
.burst .field-group .weightslider input {
  width: 100%;
  max-width: 400px;
}
.burst .field-group.burst-select_control .burst-field,
.burst .field-group.burst-select_variant .burst-field {
  display: flex;
  align-items: center;
}
.burst .field-group.burst-select_control .burst-field .select2-container,
.burst .field-group.burst-select_variant .burst-field .select2-container {
  margin: 0 15px;
}
.burst .field-group.burst-select_control .burst-field .select2-container .select2-selection--rsp-single,
.burst .field-group.burst-select_variant .burst-field .select2-container .select2-selection--rsp-single,
.burst .field-group.burst-select_control .burst-field .select2-container .select2-selection__rendered,
.burst .field-group.burst-select_variant .burst-field .select2-container .select2-selection__rendered,
.burst .field-group.burst-select_control .burst-field .select2-container .select2-selection__arrow,
.burst .field-group.burst-select_variant .burst-field .select2-container .select2-selection__arrow {
  height: 33px;
  line-height: 33px;
}
.burst .field-group.burst-select_variant label {
  margin: 0 0;
}
.burst .select2-container {
  max-width: 250px;
}
.burst .select2-results__options li {
  font-size: 1.4rem !important;
  line-height: 2rem;
  margin: 0;
}
.burst .burst-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 21px;
}
.burst .burst-switch input {
  display: none !important;
}
.burst .burst-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.burst .burst-slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
}
.burst .burst-slider.burst-round {
  border-radius: 20px;
}
.burst .burst-slider.burst-round:before {
  border-radius: 50%;
}
.burst .burst-slider-na {
  padding: 2px 8px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.burst .burst-slider-na:before {
  position: absolute;
  content: "N/A";
  color: white;
}
.burst .burst-slider-na.burst-round {
  border-radius: 20px;
}
.burst input:checked + .burst-slider {
  background-color: var(--rsp-brand-primary);
}
.burst input:checked + .burst-slider:before {
  transform: translateX(17px);
}
.burst input:checked:disabled + .burst-slider {
  background-color: var(--rsp-brand-primary-faded);
}
.burst input:focus + .burst-slider {
  box-shadow: 0 0 1px var(--rsp-brand-primary);
}
.burst .burst-bullet {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
}
.burst .burst-bullet.large {
  height: 20px;
  width: 20px;
}
.burst .burst-bullet.medium {
  height: 13px;
  width: 13px;
}
.burst .burst-bullet.small {
  height: 11px;
  width: 11px;
}
.burst .rsp-yellow {
  background-color: var(--rsp-yellow);
}
.burst .rsp-blue {
  background-color: var(--rsp-blue);
}
.burst .rsp-pink {
  background-color: var(--rsp-pink);
}
.burst .rsp-red {
  background-color: var(--rsp-red);
}
.burst .rsp-green {
  background-color: var(--rsp-green);
}
.burst .rsp-blue-yellow {
  background: var(--rsp-blue);
  background: linear-gradient(77deg, #29b6f6 0%, #29b6f6 30%, #f4bf3e 70%, #f4bf3e 100%);
  animation: gradient 2s ease infinite;
  background-size: 200% 200%;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.daterangepicker .ranges li.active {
  background-color: var(--rsp-brand-primary);
  color: var(--rsp-text-color-white);
}
.daterangepicker .ranges li {
  font-size: var(--rsp-fs-300);
}
.daterangepicker td.in-range {
  background-color: var(--rsp-brand-primary-faded);
  color: var(--rsp-text-color);
}
.daterangepicker td.active,
.daterangepicker td.end-date,
.daterangepicker td.active:hover {
  background-color: var(--rsp-brand-primary);
  border-color: transparent;
  color: var(--rsp-text-color-white);
}
.daterangepicker td.disabled {
  display: none;
}
.burst-settings-saved {
  display: none;
  opacity: 0;
  top: 20px;
  position: fixed;
  background-color: #fff;
  z-index: 999999;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
  box-shadow: 0 0 5px 5px rgba(222, 222, 222, 0.2);
}
.burst-settings-saved svg path {
  fill: var(--rsp-color-success);
}
.burst-settings-saved .burst-settings-saved__text_and_icon {
  display: flex;
  align-content: center;
  margin: 10px 25px;
}
.burst-settings-saved .burst-settings-saved__text_and_icon span {
  display: flex;
  align-self: center;
  font-size: var(--rsp-fs-400);
  font-weight: 400;
  color: var(--rsp-grey-500);
  margin: 2px 3px;
}
.burst-settings-saved .burst-settings-saved__text_and_icon div {
  display: flex;
  align-self: center;
}
.burst-settings-saved.burst-settings-saved--fade-in {
  display: block;
  animation: fadeInFromNone 5s ease-in-out;
}
@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
    top: 20px;
  }
  5% {
    display: block;
    opacity: 0;
    top: -10px;
  }
  15% {
    display: block;
    opacity: 1;
    top: 20px;
  }
  90% {
    display: block;
    opacity: 1;
    top: 20px;
  }
  100% {
    display: none;
    opacity: 0;
    top: 20px;
  }
}
.burst {
  /*
      Animated skeleton screen using CSS.

      Create shapes using gradients that simulate solids.

      Use `:empty` pseduo-class to show skeleton screen background only while container has no content (ex: for the "loading" state). When content is added to the container element, the pseudo-class selector won't match anymore and the skeleton screen will be removed automatically; no need to toggle a separate class on the container.

      See: https://developer.mozilla.org/en-US/docs/Web/CSS/:empty

      Animating one layer of the background which is a tilted linear gradient with white in the middle to achieve shine effect.
      */
}
.burst .burst-skeleton.datatable-skeleton:empty {
  height: 440px;
  margin: var(--rsp-spacing-s);
}
.burst .burst-skeleton:empty {
  width: 100%;
  height: 400px;
  /* change height to see repeat-y behavior */
  background-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 80%), linear-gradient(#dadada 20px, transparent 0), linear-gradient(#dadada 20px, transparent 0), linear-gradient(#dadada 20px, transparent 0), linear-gradient(#dadada 20px, transparent 0);
  background-repeat: repeat-y;
  background-size: 10% 160px, 49% 160px, /* highlight */ 90% 160px, 55% 160px, 65% 160px;
  background-position: 0 0, /* highlight */ 0px 0, 0px 40px, 0px 80px, 0px 120px;
  animation: shine 1s infinite;
}
@keyframes shine {
  to {
    background-position: 100% 0, /* move highlight to right */ 0px 0, 0px 40px, 0px 80px, 0px 120px;
  }
}
.burst-grid h4 {
  display: inline-block;
}
.burst-grid p {
  color: var(--rsp-text-color-light);
}
.burst-grid .border-to-border .burst-grid-content {
  padding: 0;
}
.burst-grid .border-to-border .burst-grid-content > * {
  padding-left: var(--rsp-spacing-l);
  padding-right: var(--rsp-spacing-l);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.burst-grid .block p {
  font-size: var(--rsp-fs-300);
}
.burst-grid .block__big-number {
  justify-content: space-between;
  background: var(--rsp-green-faded);
  padding: var(--rsp-spacing-xl) var(--rsp-spacing-l);
}
.burst-grid .block__big-number h4 {
  font-size: var(--rsp-fs-800);
}
.burst-grid .block__big-number__right {
  text-align: right;
}
.burst-grid .block__big-number h5,
.burst-grid .block__big-number p {
  line-height: 2;
}
.burst-grid .block__explanation-and-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: var(--rsp-spacing-s);
  padding-bottom: var(--rsp-spacing-s);
  gap: var(--rsp-spacing-xs);
}
.burst-grid .block__explanation-and-stats__right {
  text-align: right;
}
.burst-grid .block__explanation-and-stats__right > * {
  display: inline-block;
}
.burst-grid .border-to-border .burst-grid-content form {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 100%;
  min-height: 100%;
}
.burst-grid .border-to-border .burst-grid-content form > .field-group {
  width: 100%;
  padding: 0 var(--rsp-spacing-l);
}
.burst-grid .border-to-border .burst-grid-content form .burst-grid-footer {
  margin-top: auto;
}
.burst-grid .border-to-border .burst-grid-content form .burst-grid-footer > *:last-child {
  margin-left: auto;
}
.burst .uplift {
  font-weight: 600;
}
.burst .uplift.positive {
  color: var(--rsp-color-success);
}
.burst .uplift.negative {
  color: var(--rsp-color-error);
}
.burst .block__explanation-and-stats .uplift {
  margin-right: 3px;
}
.burst .burst-statistics-container {
  height: 360px;
}
.burst .burst-grid .burst-grid-datatable {
  font-size: var(--rsp-fs-400);
}
.burst .burst-grid .burst-grid-datatable .burst-grid-content {
  padding: 0;
  padding-top: 0;
}
.burst .burst-grid .burst-grid-datatable label,
.burst .burst-grid .burst-grid-datatable label input,
.burst .burst-grid .burst-grid-datatable label select,
.burst .burst-grid .burst-grid-datatable .dataTables_info,
.burst .burst-grid .burst-grid-datatable .dataTables_paginate {
  font-size: var(--rsp-fs-400);
}
.burst .burst-grid .burst-grid-datatable .dataTables_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.burst .burst-grid .burst-grid-datatable .dataTables_info,
.burst .burst-grid .burst-grid-datatable .dataTables_paginate,
.burst .burst-grid .burst-grid-datatable .dataTables_length,
.burst .burst-grid .burst-grid-datatable .dataTables_filter {
  color: var(--rsp-text-color-light);
}
.burst .burst-grid .burst-grid-datatable .dataTables_length {
  margin-right: auto;
}
.burst .burst-grid .burst-grid-datatable table {
  font-size: var(--rsp-fs-400);
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  justify-content: normal;
}
.burst .burst-grid .burst-grid-datatable table .text-align-right {
  text-align: right;
}
.burst .burst-grid .burst-grid-datatable table thead tr {
  background: transparent;
}
.burst .burst-grid .burst-grid-datatable table tr {
  height: 40px;
  background-color: #EBF8FE;
}
.burst .burst-grid .burst-grid-datatable table tr:nth-child(even) {
  background-color: transparent;
}
.burst .burst-grid .burst-grid-datatable table th,
.burst .burst-grid .burst-grid-datatable table td {
  padding: 5px var(--rsp-spacing-l);
  text-align: left;
}
.burst .burst-grid .burst-grid-datatable table th {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: right;
}
.burst .burst-grid .burst-grid-datatable table th:focus {
  outline: none;
}
.burst .burst-grid .burst-grid-datatable table th.sorting_asc {
  background-image: url(../../../images/sort_asc.png);
}
.burst .burst-grid .burst-grid-datatable table th.sorting_desc {
  background-image: url(../../../images/sort_desc.png);
}
.burst .burst-grid .burst-grid-datatable table tbody {
  color: var(--rsp-text-color);
}
.burst .burst-grid .burst-grid-datatable .dataTables_info {
  width: auto;
}
.burst .burst-grid .burst-grid-datatable .dataTables_paginate {
  cursor: pointer;
}
.burst .burst-grid .burst-grid-datatable .dataTables_paginate .paginate_button {
  color: black;
  padding: 0.5em 1em;
  box-sizing: border-box;
  border: var(--rsp-border);
}
.burst .burst-grid .burst-grid-datatable .dataTables_paginate .paginate_button.next,
.burst .burst-grid .burst-grid-datatable .dataTables_paginate .paginate_button.previous {
  padding: 0.5em 1.8em;
  color: var(--rsp-green);
}
.burst .burst-grid .burst-grid-datatable .dataTables_paginate .paginate_button.disabled {
  color: var(--rsp-grey-300);
  cursor: not-allowed;
}
.burst .burst-grid .burst-grid-datatable .dataTables_paginate .paginate_button.current {
  color: var(--rsp-text-color-white);
  background-color: var(--rsp-green);
  border: 0;
}
.burst-progress .burst-grid-content {
  padding: 0;
}
.burst-scroll-container {
  height: 100%;
  overflow-y: auto;
  background-color: var(--rsp-blue-faded);
  padding: var(--rsp-spacing-s) var(--rsp-spacing-l);
  border-radius: 0;
}
.burst-scroll-container::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0);
  background-color: transparent;
}
.burst-scroll-container::-webkit-scrollbar {
  width: 8px;
  background-color: var(--rsp-grey-300);
  cursor: pointer;
}
.burst-scroll-container::-webkit-scrollbar-thumb {
  background-color: var(--rsp-grey-400);
  border-radius: 10px;
}
.burst-notice {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  margin: var(--rsp-spacing-s);
}
.burst-notice__status {
  min-width: 95px;
  text-align: center;
  border-radius: 15px;
  padding: 2px 0;
  font-size: var(--rsp-fs-200);
  font-weight: 500;
  margin-right: var(--rsp-spacing-s);
}
.burst-notice__status.completed {
  background-color: var(--rsp-color-success);
  color: #fff;
}
.burst-notice__status.open {
  background-color: var(--rsp-color-open);
}
.burst-notice__status.urgent {
  background-color: var(--rsp-color-warning);
  color: #fff;
}
.burst-notice .burst-notice__message p {
  font-size: var(--rsp-fs-300);
  max-width: 100%;
}
.burst-notice__dismiss {
  margin-left: auto;
}
.burst-notice__dismiss button {
  background: transparent;
  color: #ccc;
  font-size: var(--rsp-fs-300);
  border: 0 solid transparent;
  cursor: pointer;
}
.burst-plus-one {
  border-radius: 50%;
  background-color: var(--rsp-color-warning);
  color: #fff;
  padding: 2px 6px;
  margin: 0 4px;
  font-size: var(--rsp-fs-100);
}
.burst-other-plugins .rsp-logo img {
  height: 34px;
}
.burst-other-plugins .burst-plugin {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--rsp-text-color-light);
  width: 100%;
  font-size: var(--rsp-fs-300);
  line-height: 2.3;
}
.burst-other-plugins .burst-plugin.burst-rsssl a:hover {
  color: var(--rsp-yellow);
}
.burst-other-plugins .burst-plugin.burst-cmplz a:hover {
  color: var(--rsp-blue);
}
.burst-other-plugins .burst-plugin.burst-burst a:hover {
  color: var(--rsp-green);
}
.burst-other-plugins .burst-plugin .plugin-status {
  margin-left: auto;
}
.burst-other-plugins .burst-plugin .plugin-color,
.burst-other-plugins .burst-plugin .plugin-text,
.burst-other-plugins .burst-plugin .plugin-status {
  display: flex;
  align-items: center;
}
.burst-other-plugins .burst-plugin .plugin-text {
  color: var(--rsp-text-color-light);
}
.burst-other-plugins .burst-plugin .plugin-text a {
  font-size: var(--rsp-fs-300);
  text-decoration: none;
  color: var(--rsp-text-color-light);
  transition: color 0.3s ease;
}
.burst-other-plugins .burst-plugin .plugin-text a:hover {
  text-decoration: underline;
}
.burst-other-plugins .burst-plugin .burst-bullet {
  margin: 7px 9px;
}
.burst-tips-tricks-container {
  --rsp-fs-tips-tricks: var(--rsp-fs-300);
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
  font-size: var(--rsp-fs-tips-tricks);
  line-height: 1.7;
  gap: var(--rsp-spacing-xs);
}
@media screen and (max-width: var(--rsp-break-l)) {
  .burst-tips-tricks-container {
    flex-direction: row;
    overflow: hidden;
  }
}
.burst-tips-tricks-container .burst-tips-tricks-element {
  width: calc(50% - var(--rsp-spacing-s) / 2);
}
.burst-tips-tricks-container .burst-tips-tricks-element a {
  color: var(--rsp-text-color-light);
  transition: color 0.3s ease;
  display: flex;
  min-width: 0;
  /* or some value */
  text-decoration: none;
  gap: var(--rsp-spacing-xs);
}
.burst-tips-tricks-container .burst-tips-tricks-element a:hover {
  color: var(--rsp-brand-primary);
  text-decoration: underline;
}
.burst-tips-tricks-container .burst-tips-tricks-element a:hover .burst-bullet {
  background-color: var(--rsp-brand-primary);
}
.burst-tips-tricks-container .burst-tips-tricks-element a:hover .burst-tips-tricks-content {
  text-decoration: underline;
}
.burst-tips-tricks-container .burst-tips-tricks-element .burst-bullet {
  transition: background-color 0.3s ease;
  background-color: var(--rsp-grey-300);
  margin-top: calc(var(--rsp-fs-tips-tricks) - 8px);
}
.burst-tips-tricks-container .burst-tips-tricks-element .burst-tips-tricks-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.burst-grid .burst-grid-datatable {
  font-size: var(--rsp-fs-300);
}
.burst-grid .burst-grid-datatable .burst-grid-content {
  padding: 0;
  padding-top: 0;
}
.burst-grid .burst-grid-datatable label,
.burst-grid .burst-grid-datatable label input,
.burst-grid .burst-grid-datatable label select,
.burst-grid .burst-grid-datatable .dataTables_info,
.burst-grid .burst-grid-datatable .dataTables_paginate {
  font-size: var(--rsp-fs-200);
}
.burst-grid .burst-grid-datatable .dataTables_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.burst-grid .burst-grid-datatable .dataTables_info,
.burst-grid .burst-grid-datatable .dataTables_paginate,
.burst-grid .burst-grid-datatable .dataTables_length,
.burst-grid .burst-grid-datatable .dataTables_filter {
  color: var(--rsp-text-color-light);
}
.burst-grid .burst-grid-datatable .dataTables_length {
  margin-right: auto;
}
.burst-grid .burst-grid-datatable table {
  font-size: var(--rsp-fs-300);
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  justify-content: normal;
}
.burst-grid .burst-grid-datatable table .text-align-right {
  text-align: right;
}
.burst-grid .burst-grid-datatable table thead tr {
  background: transparent;
}
.burst-grid .burst-grid-datatable table tr {
  height: 40px;
  background-color: #EBF8FE;
}
.burst-grid .burst-grid-datatable table tr:nth-child(even) {
  background-color: transparent;
}
.burst-grid .burst-grid-datatable table th,
.burst-grid .burst-grid-datatable table td {
  padding: var(--rsp-spacing-xxs) var(--rsp-spacing-l);
  text-align: left;
}
.burst-grid .burst-grid-datatable table th {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: right;
}
.burst-grid .burst-grid-datatable table th:focus {
  outline: none;
}
.burst-grid .burst-grid-datatable table th.sorting_asc {
  background-image: url(../images/sort_asc.png);
}
.burst-grid .burst-grid-datatable table th.sorting_desc {
  background-image: url(../images/sort_desc.png);
}
.burst-grid .burst-grid-datatable table tbody {
  color: var(--rsp-text-color);
}
.burst-grid .burst-grid-datatable .dataTables_info {
  width: auto;
}
.burst-grid .burst-grid-datatable .dataTables_paginate {
  cursor: pointer;
}
.burst-grid .burst-grid-datatable .dataTables_paginate .paginate_button {
  color: black;
  padding: 0.5em 1em;
  box-sizing: border-box;
  border: var(--rsp-border);
}
.burst-grid .burst-grid-datatable .dataTables_paginate .paginate_button.next,
.burst-grid .burst-grid-datatable .dataTables_paginate .paginate_button.previous {
  padding: 0.5em 1.8em;
  color: var(--rsp-brand-primary);
}
.burst-grid .burst-grid-datatable .dataTables_paginate .paginate_button.disabled {
  color: var(--rsp-grey-300);
  cursor: not-allowed;
}
.burst-grid .burst-grid-datatable .dataTables_paginate .paginate_button.current {
  color: var(--rsp-text-color-white);
  background-color: var(--rsp-brand-primary);
  border: 0;
}
:root {
  --rsp-brand-primary: var(--rsp-green);
  --rsp-brand-secondary: var(--rsp-yellow);
  --rsp-brand-primary-faded: var(--rsp-green-faded);
}
