#burst {
  font-size: 62.5%;
  box-sizing: border-box;
}
#burst *,
#burst *:before,
#burst *:after {
  box-sizing: inherit;
}
#burst body,
#burst h1,
#burst h2,
#burst h3,
#burst h4,
#burst h5,
#burst h6,
#burst p,
#burst ol,
#burst ul {
  margin: 0;
  padding: 0;
}
#burst img {
  max-width: 100%;
  height: auto;
}
.field-group.burst-select_control .burst-field,
.field-group.burst-select_variant .burst-field {
  display: flex;
  align-items: center;
}
.field-group.burst-select_control .burst-field .select2-container,
.field-group.burst-select_variant .burst-field .select2-container {
  margin: 0 15px;
}
.field-group.burst-select_control .burst-field .select2-container .select2-selection--single,
.field-group.burst-select_variant .burst-field .select2-container .select2-selection--single,
.field-group.burst-select_control .burst-field .select2-container .select2-selection__rendered,
.field-group.burst-select_variant .burst-field .select2-container .select2-selection__rendered,
.field-group.burst-select_control .burst-field .select2-container .select2-selection__arrow,
.field-group.burst-select_variant .burst-field .select2-container .select2-selection__arrow {
  height: 33px;
  line-height: 33px;
}
.field-group.burst-select_variant label {
  margin: 0 0;
}
.select2-container {
  max-width: 250px;
}
.select2-results__options li {
  font-size: 1.4rem !important;
  line-height: 2rem;
  margin: 0;
}
:root {
  --rsp-black: #333;
  --rsp-yellow: #f4bf3e;
  --rsp-blue: #29b6f6;
  --rsp-green: #61CE70;
  --rsp-red: #D7263D;
  --rsp-pink: #E35899;
  --rsp-orange: #f39c12;
}
#burst .burst-noticed-hook-element {
  display: none !important;
}
.burst-block {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), 2px 2px 2px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.02), 0 8px 8px rgba(0, 0, 0, 0.02);
  border-radius: 3px;
}
html,
body {
  font-size: 62.5%;
}
#wpbody-content {
  font-size: 1.4rem;
  line-height: 1.6rem;
}
#burst {
  line-height: 2.1rem;
  color: rgba(26, 26, 26, 0.9);
  padding-bottom: 20px;
  margin: 0 0 0 -20px;
  /* field styles */
  /*
    Animated skeleton screen using CSS.

    Create shapes using gradients that simulate solids.

    Use `:empty` pseduo-class to show skeleton screen background only while container has no content (ex: for the "loading" state). When content is added to the container element, the pseudo-class selector won't match anymore and the skeleton screen will be removed automatically; no need to toggle a separate class on the container.

    See: https://developer.mozilla.org/en-US/docs/Web/CSS/:empty

    Animating one layer of the background which is a tilted linear gradient with white in the middle to achieve shine effect.
    */
  /* Notices */
  /*
    Tips and Tricks and Upsell
   */
  /*Tooltips on dashboard/settings page*/
  /*
      Progress bar
     */
  /* Grid */
}
#burst > * {
  font-size: 1.4rem;
}
#burst h1,
#burst h2,
#burst h3,
#burst h4,
#burst h5,
#burst h6,
#burst p {
  color: rgba(26, 26, 26, 0.9);
  font-weight: 400;
}
#burst h1 a,
#burst h2 a,
#burst h3 a,
#burst h4 a,
#burst h5 a,
#burst h6 a,
#burst p a {
  font-weight: 400;
}
#burst h1 {
  font-size: 2.4rem;
  line-height: 3.6rem;
  font-weight: 700;
}
#burst h2 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 600;
}
#burst h3 {
  font-size: 1.7rem;
  line-height: 2.55rem;
  font-weight: 600;
}
#burst h4 {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
#burst h5 {
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 700;
}
#burst h6 {
  line-height: 2.1rem;
  font-size: 1.4rem;
  font-weight: 600;
}
#burst p {
  font-size: 1.4rem;
  line-height: 2.1rem;
  max-width: 60ch;
}
#burst a {
  font-size: 1.4rem;
}
#burst label {
  font-size: 1.5rem;
  line-height: 2.4rem;
}
#burst input[type="checkbox"],
#burst input[type="radio"] {
  height: 1.6rem;
  width: 1.6rem;
}
#burst input[type="checkbox"]:before {
  height: 1.8rem;
  width: 1.8rem;
}
#burst .button {
  padding: 0px 20px;
  min-width: 100px;
}
#burst #burst-header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  box-sizing: border-box;
  background-color: #fff;
}
#burst #burst-header img {
  margin: auto 15px;
  padding: 20px;
  padding-right: 0;
  width: 90px;
}
#burst #burst-header .burst-header-left {
  display: flex;
  align-items: left;
}
#burst #burst-header .burst-header-left .burst-header-menu {
  margin: auto 15px;
}
#burst #burst-header .burst-header-left .burst-header-menu a {
  font-size: 1.4rem;
  padding: 23px 15px;
  text-decoration: none;
  color: rgba(66, 66, 66, 0.9);
  height: 100%;
  border-bottom: 4px solid transparent;
  transition: border 0.3s ease-out;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#burst #burst-header .burst-header-left .burst-header-menu a.active {
  border-bottom: 4px solid #61CE70;
}
#burst #burst-header .burst-header-left .burst-header-menu a:hover {
  color: #61CE70;
}
#burst #burst-header .burst-header-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 20px;
}
#burst #burst-header .burst-header-right a,
#burst #burst-header .burst-header-right button {
  margin-left: 15px;
}
#burst #burst-header .burst-header-right select {
  max-width: 60ch;
}
#burst #burst-content-area {
  margin: 10px;
}
#burst .field-group .burst-label {
  vertical-align: top;
  text-align: left;
  margin: 10px 10px 10px 0;
  line-height: 1.3rem;
  font-weight: 600;
  color: #23282d;
  text-shadow: none;
}
#burst .field-group .burst-field {
  margin-bottom: 15px;
}
#burst .field-group.first .burst-label {
  padding-top: 0;
}
#burst .field-group .weightslider {
  width: 100%;
}
#burst .field-group .weightslider input {
  width: 100%;
  max-width: 400px;
}
#burst .burst-notice-container:not(:empty) {
  min-height: 46px;
}
#burst .burst-notice {
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding: 1rem 1.5rem;
}
#burst .burst-notice .burst-message {
  padding: 14px 0;
}
#burst .burst-notice .burst-status {
  display: block;
  min-width: 60px;
  text-align: center;
  border-radius: 15px;
  padding: 4px 8px 4px 8px;
  font-size: 1.2rem;
  font-weight: 600;
  height: 17px;
  line-height: 17px;
  color: white;
}
#burst .burst-notice .burst-status.burst-completed {
  background-color: #61CE70;
}
#burst .burst-notice .burst-status.burst-open {
  background-color: #29b6f6;
}
#burst .burst-notice .burst-status.burst-urgent {
  background-color: #f39c12;
}
#burst .burst-notice .burst-plusone {
  border-radius: 50%;
  background-color: #D7263D;
  color: #fff;
  padding: 2px 6px;
  font-size: 1rem;
}
#burst .burst-notice > div {
  padding: 10px 0;
}
#burst .burst-notice > div:nth-child(3) {
  padding: 0;
}
#burst .burst-notice button {
  color: #ededed;
  margin-top: 10px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
#burst .burst-notice button .burst-close-notice-x {
  color: #ccc;
  font-size: 0.9rem;
}
#burst .burst-skeleton:empty {
  width: 100%;
  height: 400px;
  /* change height to see repeat-y behavior */
  background-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 80%), linear-gradient(#dadada 20px, transparent 0), linear-gradient(#dadada 20px, transparent 0), linear-gradient(#dadada 20px, transparent 0), linear-gradient(#dadada 20px, transparent 0);
  background-repeat: repeat-y;
  background-size: 50px 160px, /* highlight */ 150px 160px, 350px 160px, 300px 160px, 250px 160px;
  background-position: 0 0, /* highlight */ 0px 0, 0px 40px, 0px 80px, 0px 120px;
  animation: shine 1s infinite;
}
@keyframes shine {
  to {
    background-position: 100% 0, /* move highlight to right */ 0px 0, 0px 40px, 0px 80px, 0px 120px;
  }
}
#burst .burst-panel {
  font-size: 1.3rem !important;
  color: #383d41;
  background-color: #F2F2F2;
  border: 1px solid #d6d8db;
  padding: 10px 15px;
  border-radius: 0px;
}
#burst .burst-panel .burst-panel-title {
  cursor: pointer;
}
#burst .burst-panel .burst-field > div {
  margin: 10px 0;
}
#burst .burst-panel .burst-panel-content {
  display: none;
  background-color: #fff;
  border: 1px solid #d6d8db;
  border-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px 15px;
}
#burst .burst-panel h1 {
  font-size: 2.2rem;
}
#burst .burst-panel p {
  font-size: 1.3rem !important;
}
#burst .burst-panel.burst-notice {
  background-color: #fff;
  border-color: #fff;
  border: 0;
  border-left: 4px solid #29b6f6;
  color: black;
  margin: 10px 0px 10px 0px;
  padding-left: 15px;
}
#burst .burst-panel.burst-success {
  background-color: #61ce70;
  border-color: #61ce70;
  color: #fff;
}
#burst .burst-panel.burst-warning {
  color: #333333;
  background-color: #fbc43d;
  border-color: #fbc43d;
  margin: 10px 0px 10px 0px;
}
#burst .burst-panel ul {
  list-style-type: disc;
  margin-left: 22px;
}
#burst .burst-grid.statistics .burst-grid-content {
  border-bottom: 0;
}
#burst .burst-tips-tricks-container {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
  font-size: 1.3rem;
  line-height: 2.1rem;
}
@media screen and (max-width: 480px) {
  #burst .burst-tips-tricks-container {
    flex-direction: row;
    overflow: hidden;
  }
}
#burst .burst-tips-tricks-container .burst-tips-tricks-element {
  color: rgba(66, 66, 66, 0.9);
  width: 50%;
}
#burst .burst-tips-tricks-container .burst-tips-tricks-element a {
  color: rgba(66, 66, 66, 0.9);
  font-size: 1.3rem;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}
#burst .burst-tips-tricks-container .burst-tips-tricks-element a:hover {
  color: #61CE70;
  text-decoration: underline;
}
#burst .burst-tips-tricks-container .burst-tips-tricks-element a:hover .burst-bullet {
  background-color: #61CE70;
}
#burst .burst-tips-tricks-container .burst-tips-tricks-element a:hover .burst-tips-tricks-content {
  text-decoration: underline;
}
#burst .burst-tips-tricks-container .burst-tips-tricks-element .burst-bullet {
  transition: background-color 0.3s ease;
  margin: 4px 9px;
  background-color: #ededed;
  float: left;
}
#burst .burst-tips-tricks-container .burst-tips-tricks-element .burst-tips-tricks-content {
  margin: 3px 0;
  float: left;
}
#burst .upsell-grid-container .rsp-logo img {
  height: 34px;
}
#burst .upsell-grid-container .burst-upsell {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgba(66, 66, 66, 0.9);
  width: 100%;
  font-size: 1.3rem;
  line-height: 2.1rem;
}
#burst .upsell-grid-container .burst-upsell a {
  font-size: 1.3rem;
}
#burst .upsell-grid-container .burst-upsell.burst-rsssl a:hover {
  color: #f4bf3e;
}
#burst .upsell-grid-container .burst-upsell.burst-cmplz a:hover {
  color: #29b6f6;
}
#burst .upsell-grid-container .burst-upsell.burst-zip a:hover {
  color: #E35899;
}
#burst .upsell-grid-container .burst-upsell .plugin-status {
  margin-left: auto;
}
#burst .upsell-grid-container .burst-upsell .plugin-color,
#burst .upsell-grid-container .burst-upsell .plugin-text,
#burst .upsell-grid-container .burst-upsell .plugin-status {
  display: flex;
  align-items: center;
}
#burst .upsell-grid-container .burst-upsell .plugin-text {
  color: rgba(66, 66, 66, 0.9);
}
#burst .upsell-grid-container .burst-upsell .plugin-text a {
  font-size: 1.3rem;
  text-decoration: none;
  color: rgba(66, 66, 66, 0.9);
  transition: color 0.3s ease;
}
#burst .upsell-grid-container .burst-upsell .plugin-text a:hover {
  text-decoration: underline;
}
#burst .upsell-grid-container .burst-upsell .burst-bullet {
  margin: 7px 9px;
}
#burst .burst-tips-tricks-container-title {
  border-bottom: 1px solid #dadada;
}
#burst .burst-tooltip-right,
#burst .burst-tooltip-bottom {
  font-weight: normal;
}
#burst .burst-tooltip-right {
  float: right;
}
#burst .burst-statistics-container {
  height: 360px;
}
#burst .burst-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 3px 0;
  flex-grow: 5;
}
#burst .burst-probability {
  margin-top: 15px;
}
#burst .burst-probability .burst-row {
  justify-content: flex-start;
  gap: 5px;
}
#burst .burst-probability .burst-row p {
  color: rgba(66, 66, 66, 0.9);
  font-weight: 400;
}
#burst .burst-statisitics {
  margin-top: 15px;
}
#burst .burst-statisitics .burst-row p {
  color: rgba(66, 66, 66, 0.9);
  font-weight: 400;
}
#burst .burst-experiment-setup {
  align-self: flex-end;
}
#burst .burst-experiment-setup .burst-row p {
  color: rgba(66, 66, 66, 0.9);
  font-weight: 400;
}
#burst .burst-compare-experiments-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}
#burst .burst-compare-experiments-container .burst-row p {
  color: rgba(66, 66, 66, 0.9);
  font-weight: 400;
}
#burst .burst-compare-experiments-container div {
  justify-content: space-between;
  width: 100%;
}
#burst .burst-compare-experiments-container .burst-compare-experiments {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 3px;
  padding: 7px 11px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), 2px 2px 2px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.02), 0 8px 8px rgba(0, 0, 0, 0.02);
}
#burst .burst-compare-experiments-container .burst-compare-experiments > .burst-row:first-of-type {
  justify-content: flex-start;
  margin-bottom: 10px;
  align-items: flex-start;
  flex-wrap: nowrap;
}
#burst .burst-compare-experiments-container .burst-compare-experiments h3 {
  display: flex;
  gap: 5px;
}
#burst .burst-compare-experiments-container .burst-compare-experiments h5 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#burst .burst-compare-experiments-container .burst-compare-experiments.control {
  background-color: #eaf8fe;
  border: 1px solid #29b6f6;
}
#burst .burst-compare-experiments-container .burst-compare-experiments.variant {
  background-color: #fefbf4;
  border: 1px solid #f4bf3e;
}
#burst .burst-compare-experiments-container .burst-compare-experiments.variant .burst-row:last-of-type {
  margin-top: 10px;
  padding-top: 5px;
}
#burst .burst-compare-experiments-container .burst-compare-experiments > p {
  width: 100%;
  color: #737373;
}
#burst .burst-objective-total-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 3px 0;
  flex-grow: 5;
}
#burst .burst-objective-total-container div {
  flex: 1;
}
#burst .burst-objective-total-container div.burst-objective-number {
  text-align: right;
}
#burst .burst-progress-bar-container {
  padding-top: 15px;
  margin: 0 auto;
}
#burst .burst-progress-bar-container .burst-progress {
  overflow: hidden;
  height: 20px;
  border-radius: 5px;
  background-color: #f7f7f7;
}
#burst .burst-progress-bar-container .burst-progress .burst-percentage {
  height: 100%;
  background-color: #61CE70;
}
#burst .burst-divider {
  border-bottom: 1px solid #dadada;
  padding: 10px;
  margin: 10px;
}
#burst .burst-grid {
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 15px) [col-start]);
  grid-template-rows: repeat(auto, min-content);
  margin: 10px;
  margin-top: 20px;
  grid-gap: 20px;
  min-height: calc(100vh - 32px - 80px - 20px - 20px);
}
#burst .burst-grid .burst-grid-container {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), 2px 2px 2px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.02), 0 8px 8px rgba(0, 0, 0, 0.02);
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  flex-basis: 100%;
  min-height: 100%;
}
#burst .burst-grid .burst-grid-container.no-background {
  background: none;
  border: none;
  box-shadow: none;
}
#burst .burst-grid .burst-grid-container.statistics {
  grid-column: span 2;
}
#burst .burst-grid .burst-grid-container.tipstricks {
  grid-column: span 2;
}
#burst .burst-grid .burst-grid-container.other-plugins {
  grid-column: span 2;
}
@media screen and (max-width: 780px) {
  #burst .burst-grid .burst-grid-container {
    grid-column: span 4 !important;
  }
}
@media screen and (max-width: 1430px) {
  #burst .burst-grid .burst-grid-container {
    grid-column: span 2;
  }
  #burst .burst-grid .burst-grid-container.statistics {
    grid-column: span 4;
  }
  #burst .burst-grid .burst-grid-container.tipstricks {
    grid-column: span 4;
  }
  #burst .burst-grid .burst-grid-container.other-plugins {
    grid-column: span 4;
  }
}
#burst .burst-grid .burst-grid-header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dadada;
  padding: 15px 20px;
}
#burst .burst-grid .burst-grid-header .burst-grid-title {
  padding: 9px 0 4px 0;
}
#burst .burst-grid .burst-grid-header .burst-grid-controls {
  display: flex;
  gap: 15px;
}
#burst .burst-grid .burst-grid-header .burst-grid-controls .burst-date-container {
  background: #fff;
  cursor: pointer;
  padding: 4px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  white-space: nowrap;
  color: #333;
}
@media screen and (max-width: 480px) {
  #burst .burst-grid .burst-grid-header .burst-grid-controls .burst-date-container {
    width: 18px;
    overflow: hidden;
  }
}
#burst .burst-grid .burst-grid-content {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  flex-grow: 100;
}
#burst .burst-grid .burst-grid-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 60px;
  box-sizing: border-box;
  padding: 15px 20px;
  border-top: 1px solid #dadada;
  align-self: flex-end;
}
#burst .burst-grid .burst-grid-footer:empty {
  display: none;
}
#burst .burst-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#burst .burst-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* tooltip styles */
.burst .burst-tooltip {
  font-weight: 400;
  font-size: 1.3rem;
  position: relative;
  /* making the .tooltip span a container for the tooltip text */
  margin: 5px;
  cursor: pointer;
}
.burst .burst-tooltip:before {
  content: attr(data-text);
  /* here's the magic */
  position: absolute;
  z-index: 2;
  /* vertically center */
  top: 50%;
  transform: translateY(-50%);
  /* basic styles */
  width: 40ch;
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding: 10px;
  border-radius: 10px;
  background: #252525;
  color: #fff;
  text-align: left;
  display: none;
  transition: 0.3s opacity;
}
.burst .burst-tooltip:hover:before,
.burst .burst-tooltip:hover:after {
  display: flex;
}
.burst .burst-tooltip.left:before {
  /* reset defaults */
  left: initial;
  margin: initial;
  /* set new values */
  right: 100%;
  margin-right: 15px;
}
.burst .burst-tooltip.right:before {
  /* reset defaults */
  left: initial;
  margin: initial;
  /* move to right */
  left: 100%;
  margin-left: 15px;
  /* and add a small left margin */
}
.burst .burst-tooltip::after {
  content: "";
  position: absolute;
  /* vertically center */
  top: 50%;
  transform: translateY(-50%);
  /* the arrow */
  border: 10px solid #000;
  display: none;
}
.burst .burst-tooltip.left::after {
  right: 100%;
  margin-right: -5px;
  border-color: transparent transparent transparent #252525;
}
.burst .burst-tooltip.right::after {
  left: 100%;
  margin-left: -5px;
  border-color: transparent #252525 transparent transparent;
}
.burst .burst-tooltip img {
  width: 1em;
}
.burst-bullet {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
}
.burst-bullet.large {
  height: 20px;
  width: 20px;
}
.burst-bullet.medium {
  height: 13px;
  width: 13px;
}
.burst-bullet.small {
  height: 11px;
  width: 11px;
}
.rsp-yellow {
  background-color: #f4bf3e;
}
.rsp-blue {
  background-color: #29b6f6;
}
.rsp-pink {
  background-color: #E35899;
}
.rsp-red {
  background-color: #D7263D;
}
.rsp-green {
  background-color: #61CE70;
}
.rsp-blue-yellow {
  background: #29b6f6;
  background: linear-gradient(77deg, #29b6f6 0%, #29b6f6 30%, #f4bf3e 70%, #f4bf3e 100%);
  animation: gradient 2s ease infinite;
  background-size: 200% 200%;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.burst-experiment-dot:before {
  content: ' ';
  height: 17px;
  width: 17px;
  background-color: #c6c6c6;
  border-radius: 50%;
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 5px;
  margin-top: 2px;
  text-align: center;
  color: #fff;
  line-height: 1.45;
  font-size: 1.2rem;
}
.burst-experiment-dot.dot-large:before {
  height: 23px;
  width: 23px;
  line-height: 1.6;
  font-size: 1.4rem;
}
.burst-experiment-dot.control:before {
  background-color: #29b6f6;
  content: 'A';
}
.burst-experiment-dot.variant:before {
  background-color: #f4bf3e;
  content: 'B';
}
.grey {
  background-color: #c6c6c6;
}
.burst-experiment-status {
  display: flex;
  padding: 5px 7px;
  border-radius: 3px;
  justify-content: flex-start;
  align-items: center;
}
.burst-experiment-status span.burst-bullet {
  transition: all 0.5s ease;
  margin-right: 5px;
}
.burst-experiment-status span.burst-bullet.loading {
  animation: grow-and-shrink 1s infinite;
}
@keyframes grow-and-shrink {
  0%,
  100% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
}
/*
    cool checkbox sliders
*/
.burst-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 21px;
}
.burst-switch input {
  display: none !important;
}
.burst-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.burst-slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
}
.burst-slider.burst-round {
  border-radius: 20px;
}
.burst-slider.burst-round:before {
  border-radius: 50%;
}
.burst-slider-na {
  padding: 2px 8px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.burst-slider-na:before {
  position: absolute;
  content: "N/A";
  color: white;
}
.burst-slider-na.burst-round {
  border-radius: 20px;
}
input:checked + .burst-slider {
  background-color: #61CE70;
}
input:checked + .burst-slider:before {
  transform: translateX(17px);
}
input:checked:disabled + .burst-slider {
  background-color: #fdfefd;
}
input:focus + .burst-slider {
  box-shadow: 0 0 1px #61CE70;
}
.wp-core-ui .button.button-tertiary {
  background-color: #D7263D;
  color: white;
  border-color: #96091b;
}
.wp-core-ui .button.button-tertiary:hover {
  background-color: #b92538;
}
#burst .burst-experiment-version {
  display: flex;
  margin: 6px 0;
  font-size: 1.2rem;
  line-height: 18px;
  padding: 5px 7px;
  border-radius: 5px;
}
#burst .burst-experiment-version.control {
  background-color: #eaf8fe;
  border: 1px solid #29b6f6;
}
#burst .burst-experiment-version.variant {
  background-color: #fefbf4;
  border: 1px solid #f4bf3e;
}
#burst .burst-experiment-version a,
#burst .burst-experiment-version p {
  width: 100%;
}
#burst .burst-experiment-version p {
  font-weight: 500;
  font-size: 1.4rem;
  text-transform: capitalize;
  margin-top: 1px;
}
.burst-settings-saved {
  display: none;
  opacity: 0;
  top: 20px;
  position: fixed;
  background-color: #fff;
  z-index: 999999;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
  box-shadow: 0 0 5px 5px rgba(222, 222, 222, 0.2);
}
.burst-settings-saved svg path {
  fill: #61CE70;
}
.burst-settings-saved .burst-settings-saved__text_and_icon {
  display: flex;
  align-content: center;
  margin: 10px 25px;
}
.burst-settings-saved .burst-settings-saved__text_and_icon span {
  display: flex;
  align-self: center;
  font-size: 1.4rem;
  font-weight: 400;
  color: #696969;
  margin: 2px 3px;
}
.burst-settings-saved .burst-settings-saved__text_and_icon div {
  display: flex;
  align-self: center;
}
.burst-settings-saved.burst-settings-saved--fade-in {
  display: block;
  animation: fadeInFromNone 5s ease-in-out;
}
@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
    top: 20px;
  }
  5% {
    display: block;
    opacity: 0;
    top: -10px;
  }
  15% {
    display: block;
    opacity: 1;
    top: 20px;
  }
  90% {
    display: block;
    opacity: 1;
    top: 20px;
  }
  100% {
    display: none;
    opacity: 0;
    top: 20px;
  }
}
