#wp-admin-bar-burst a.ab-item {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
#wp-admin-bar-burst a.ab-item .burst-bullet {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 10px;
  display: block;
}
.rsp-yellow {
  background-color: #f4bf3e;
}
.rsp-blue {
  background-color: #29b6f6;
}
.rsp-pink {
  background-color: #E35899;
}
.rsp-green {
  background-color: #61CE70;
}
.grey {
  background-color: #c6c6c6;
}
