/**
 * Base
 *
 * Default values for elements and resets.
 */

.burst {
  font-size: var(--rsp-fs-300);
  line-height: 1.5;
  color: var(--rsp-text-color);
  box-sizing: border-box;
  &.wrap{
    padding-bottom: 20px;
    margin: 0 0 0 -20px;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--rsp-text-color);
    letter-spacing: 0.4px;
    line-height: 1.5;
  }

  .h0 {
    font-size: var(--rsp-fs-900);
    font-weight: 700;
  }

  h1, .h1 {
    font-size: var(--rsp-fs-800);
    line-height: 1.5;
    font-weight: 700;
  }

  h2, .h2 {
    font-size: var(--rsp-fs-700);
    font-weight: 700;
  }

  h3, .h3 {
    font-size: var(--rsp-fs-600);
    font-weight: 600;
  }

  h4, .h4 {
    font-size: var(--rsp-fs-500);
    font-weight: 700;
  }

  h5, .h5 {
    font-size: var(--rsp-fs-400);
    font-weight: 500;
  }

  h6, .h6 {
    font-size: var(--rsp-fs-300);
  }

  p {
    color: var(--rsp-text-color);
    font-weight: 400;
    font-size: var(--rsp-fs-400);
    line-height: 1.5;
  }

  .small-text {
    font-size: var(--rsp-fs-200);
    line-height: 1.5;
    color: var(--rsp-text-color-light);
  }
  a {
    font-size: var(--rsp-fs-300);
  }
  .burst-read-more{
    margin-left: 4px;
  }

  //wordpress inserts notices after the first h1 or h2. To prevent breaking layout we insert an empty h1 tag at the start of our page, where WP can insert the notice.
  .burst-notice-hook-element {
    display: none !important;
  }

  // Hide nags from other plugins
  .error, .notice, .update-nag, .notice-info {
    &:not(.really-simple-plugins) {
      display: none !important;
    }
  }
}