.burst div[class^=burst-wizard-] {
  .burst-email_reports {
    .burst-table-header, .burst-field-description {
      padding: var(--rsp-spacing-xs) var(--rsp-spacing-l);
    }

    .burst-field-wrap.burst-email_reports {
      padding: 0;
    }

    .burst-email-reports-field__add {
      margin-top: var(--rsp-spacing-xs);
      padding: var(--rsp-spacing-xs) var(--rsp-spacing-l);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: var(--rsp-spacing-xs);

      input {
        min-width: 30ch;
      }

      label {
        margin: 0;
        width: 100%;
      }
    }

    .burst-button-icon--delete {
      width: 3em;
      height: 3em;
      margin: 0;
    }

    .burst-warning {
      margin: var(--rsp-spacing-xs) var(--rsp-spacing-l);
      color: var(--rsp-color-error);
      background-color: var(--rsp-red-faded);
      padding: var(--rsp-spacing-xxs) var(--rsp-spacing-xs);
      border: 1px solid var(--rsp-color-error);
      border-radius: var(--rsp-border-radius-s);
    }
  }
}