.burst{
  .burst-insights{
    padding-bottom: var(--rsp-spacing-m);

    .burst-grid-item-controls{
      position: relative;
      .burst-filter-button{
        background-color: transparent;
        border: none;
        position: relative;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        aspect-ratio: 1/1;
        transition: background-color 0.2s ease-in-out;
        cursor: pointer;
        &:hover, &.active{
          background: var(--rsp-grey-300);
        }
      }
    }
  }
}

#burst-filter-menu{
  .MuiPaper-root{
    padding: var(--rsp-spacing-m) var(--rsp-spacing-s);
    min-width: #{'min(100%, 300px)'};
    border-radius: var(--rsp-border-radius-input);
    box-shadow: var(--rsp-box-shadow);
    h4{
      margin-bottom: var(--rsp-spacing-s);
    }
    button{
      margin-top: var(--rsp-spacing-s);
    }
  }
}