.burst-selected-archive{
  margin-top:10px;
  margin-bottom:10px;
  display:flex;
  align-items:center;
  background-color:var(--rsp-blue-faded);
  padding: var(--rsp-spacing-xs) var(--rsp-spacing-l);
  &-controls{
    margin-left:auto;
    display:flex;
    gap: var(--rsp-spacing-xs);
  }
  button.button.burst-btn-reset {
    margin-left:5px;
  }
  button.button-default {
    display:flex;
    .burst-icon{
      margin-top: 7px;
      margin-left: 7px;
    }
  }
}

.burst-restore_archives {
  input[type=checkbox]{
    margin: 1px;
  }
}

.burst div[class^=burst-wizard-] {
  .burst-restore_archives{
    .burst-table-header{
      padding: var(--rsp-spacing-xs) var(--rsp-spacing-l);
    }
    .burst-field-wrap{
      padding: 0;
    }
  }
}
.burst-no-archives{
  padding: var(--rsp-spacing-xl);
}