.burst {
  a.button, button.button, input.button {
    font-size: var(--rsp-fs-300);
    font-weight: 300;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;

    &.button-black {
      border: 0 solid transparent;
      background: var(--rsp-black);
      color: var(--rsp-text-color-white);

      &:hover, &:focus, &:active {
        box-shadow: 0 0 0 1px #fff, 0 0 0 3px var(--rsp-black);
      }
    }

    &.button-tertiary, &.button-red {
      border: 0 solid transparent;
      background: var(--rsp-red);
      color: var(--rsp-text-color-white);

      &:hover, &:focus, &:active {
        box-shadow: 0 0 0 1px #fff, 0 0 0 3px var(--rsp-red);
        background: var(--rsp-red);
        color: var(--rsp-text-color-white);
      }
    }
  }
  a.burst-button-small, button.burst-button-small, input.burst-button-small {
    font-size: var(--rsp-fs-100);
    font-weight: 300;
    min-height: auto;
  }
}
/* Documents overview */
.burst-shortcode {
  right: 10000px;
  position: absolute;
  background-color: #fff;
  padding: 0;
  white-space: nowrap;
}

.shortcode {
  cursor: pointer;
}

button.shepherd-button{
  &.button-primary{
    background: var(--rsp-white);
    color: var(--rsp-black);
    border: 1px solid var(--rsp-white);
    &:hover, &:focus, &:active{
      background: var(--rsp-white);
      color: var(--rsp-black);
      border-color: var(--rsp-white);
      outline-offset: 2px;
      outline: 1px solid var(--rsp-white);
    }
  }
  &.button-secondary{
    background: transparent;
    color: var(--rsp-white);
    border-color: var(--rsp-white);
    &:hover, &:focus, &:active{
      background: transparent;
      color: var(--rsp-white);
      border-color: var(--rsp-white);
      outline-offset: 2px;
      outline: 1px solid var(--rsp-white);
    }
  }
}
