.burst {
  a.button, button, input {
    font-size: var(--rsp-fs-300);
    font-weight: 300;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;

    &.button-primary {
      background: var(--rsp-dark-blue);
      color: var(--rsp-text-color-white);
      border-color: var(--rsp-dark-blue);
      outline: 2px transparent solid;
      outline-offset: 1px;
      &:hover, &:focus, &:active {
        outline: 2px var(--rsp-dark-blue) solid;
        background: var(--rsp-dark-blue);
      }
    }

    &.button-secondary {
      background: transparent;
      color: var(--rsp-dark-blue);
      border-color: var(--rsp-dark-blue);
      outline: 1px transparent solid;
      &:hover, &:focus, &:active {
        outline: 1px var(--rsp-dark-blue) solid;
      }
    }

    &.button-black {
      border: 0 solid transparent;
      background: var(--rsp-black);
      color: var(--rsp-text-color-white);
      outline: 2px transparent solid;
      outline-offset: 1px;
      &:hover, &:focus, &:active {
        outline: 2px var(--rsp-black) solid;
      }
    }

    &:hover {
      opacity: 0.9;
    }
  }
}