.burst {
  .burst-status-allowed{
    background-color:red;
  }
  .burst-status-revoked{
    background-color:green;
  }
  .rdt_TableHeadRow, .rdt_TableRow{
    @include burst-inline-block-padding;
  }
  .rdt_TableCol, .rdt_TableCell{
    padding-left: 0;
    padding-right: 0;
  }
  .burst-csp-revoked >div:nth-child(-n+3) {
    opacity:0.3;
  }
  .rdt_Pagination{
    select + svg{
      display: none;
    }
  }
  .burst-empty-data-table{
    text-align: center;
    padding: var(--rsp-spacing-xl);
  }
  .burst-grid-item.datatable{
    .burst-loading-container{
      align-content: space-between;
      height: 100%;
      & > div{
        width: 100%;
      }
    }
  }
}