.daterangepicker .ranges li.active {
  background-color: var(--rsp-green);
  color: var(--rsp-text-color-white);
}

.daterangepicker .ranges li {
  font-size: var(--rsp-fs-300);
}
.daterangepicker td.in-range{
  background-color: var(--rsp-green-faded);
  color: var(--rsp-text-color);
}
.daterangepicker td.active, .daterangepicker td.end-date, .daterangepicker td.active:hover {
  background-color: var(--rsp-green);
  border-color: transparent;
  color: var(--rsp-text-color-white);
}
.daterangepicker td.disabled{
  display: none;
}


