.burst-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  svg{
    fill: currentColor;
  }
  &.burst-icon-loading{
    animation: burst-icon-loading 1.5s ease-in-out infinite;
  }
}
@keyframes burst-icon-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}