.burst-modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: grey;
  opacity: 0.45;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.burst-modal {
  max-width: 526px;
  min-width: 200px;
  position: fixed;
  z-index: 5;
  border-radius: var(--rsp-border-radius-s);
  background-color: var(--rsp-white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 25px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;

  .burst-modal-header {
    padding: var(--rsp-spacing-s) var(--rsp-spacing-m);
    display: flex;
    justify-content: space-between;
    align-items: center;
    //border-radius: 12px;
    h2 {
      font-size: var(--rsp-fs-600);
      margin: 0;
    }

    .burst-modal-close {
      cursor: pointer;
      background: none;
      border: none;
      font-size: 1.5em;
      font-weight: 700;
    }

    button {
      img {
        height: 16px;
        width: 16px;
      }
    }
  }

  .burst-modal-content {
    position: relative;
    padding: var(--rsp-spacing-s) var(--rsp-spacing-m);

    .burst-modal-subtitle {
      font-weight: 600;
      font-size: var(--rsp-fs-500);
      margin-bottom: 10px;
    }

    .burst-modal-description {
      overflow-wrap: anywhere;
      margin-top: 0;
      font-weight: 500;
    }
  }

  .burst-modal-footer {
    display: flex;
    flex-direction: row;
    padding: var(--rsp-spacing-s) var(--rsp-spacing-m);
    gap: 10px;
    justify-content: flex-end;

    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 45px;
      width: 100%;
      text-align: center;
      border-radius: 6px;
    }

    .burst-button-help {
      background-color: #D7263D;
      color: white;
      border-color: #D7263D;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}
