.burst-pill{
  padding: 2px var(--rsp-spacing-xs);
  background: var(--rsp-brand-primary);
  color: var(--rsp-text-color-white);
  border-radius: var(--rsp-border-radius);
  font-size: var(--rsp-fs-300);
  font-weight: 600;
}