.burst .uplift {
  font-weight: 600;
}
.burst .uplift.positive {
  color: var(--rsp-color-success);
}
.burst .uplift.negative {
  color: var(--rsp-color-error);
}
.burst .block__explanation-and-stats .uplift {
  margin-right: 3px;
}
.burst .burst-statistics-container {
  height: 360px;
  margin-bottom: var(--rsp-spacing-m);
}
.burst .burst-grid .burst-grid-datatable {
  font-size: var(--rsp-fs-400);
}
.burst .burst-grid .burst-grid-datatable .burst-grid-content {
  padding: 0;
  padding-top: 0;
}
.burst .burst-grid .burst-grid-datatable label,
.burst .burst-grid .burst-grid-datatable label input,
.burst .burst-grid .burst-grid-datatable label select,
.burst .burst-grid .burst-grid-datatable .dataTables_info,
.burst .burst-grid .burst-grid-datatable .dataTables_paginate {
  font-size: var(--rsp-fs-400);
}
.burst .burst-grid .burst-grid-datatable .dataTables_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.burst .burst-grid .burst-grid-datatable .dataTables_info,
.burst .burst-grid .burst-grid-datatable .dataTables_paginate,
.burst .burst-grid .burst-grid-datatable .dataTables_length,
.burst .burst-grid .burst-grid-datatable .dataTables_filter {
  color: var(--rsp-text-color-light);
}
.burst .burst-grid .burst-grid-datatable .dataTables_length {
  margin-right: auto;
}
.burst .burst-grid .burst-grid-datatable table {
  font-size: var(--rsp-fs-400);
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  justify-content: normal;
}
.burst .burst-grid .burst-grid-datatable table .text-align-right {
  text-align: right;
}
.burst .burst-grid .burst-grid-datatable table thead tr {
  background: transparent;
}
.burst .burst-grid .burst-grid-datatable table tr {
  height: 40px;
  background-color: #EBF8FE;
}
.burst .burst-grid .burst-grid-datatable table tr:nth-child(even) {
  background-color: transparent;
}
.burst .burst-grid .burst-grid-datatable table th,
.burst .burst-grid .burst-grid-datatable table td {
  padding: 5px var(--rsp-spacing-l);
  text-align: left;
}
.burst .burst-grid .burst-grid-datatable table th {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: right;
}
.burst .burst-grid .burst-grid-datatable table th:focus {
  outline: none;
}
.burst .burst-grid .burst-grid-datatable table th.sorting_asc {
  background-image: url(../../../images/sort_asc.png);
}
.burst .burst-grid .burst-grid-datatable table th.sorting_desc {
  background-image: url(../../../images/sort_desc.png);
}
.burst .burst-grid .burst-grid-datatable table tbody {
  color: var(--rsp-text-color);
}
.burst .burst-grid .burst-grid-datatable .dataTables_info {
  width: auto;
}
.burst .burst-grid .burst-grid-datatable .dataTables_paginate {
  cursor: pointer;
}
.burst .burst-grid .burst-grid-datatable .dataTables_paginate .paginate_button {
  color: black;
  padding: 0.5em 1em;
  box-sizing: border-box;
  border: var(--rsp-border);
}
.burst .burst-grid .burst-grid-datatable .dataTables_paginate .paginate_button.next,
.burst .burst-grid .burst-grid-datatable .dataTables_paginate .paginate_button.previous {
  padding: 0.5em 1.8em;
  color: var(--rsp-green);
}
.burst .burst-grid .burst-grid-datatable .dataTables_paginate .paginate_button.disabled {
  color: var(--rsp-grey-300);
  cursor: not-allowed;
}
.burst .burst-grid .burst-grid-datatable .dataTables_paginate .paginate_button.current {
  color: var(--rsp-text-color-white);
  background-color: var(--rsp-green);
  border: 0;
}
