.burst.burst-dashboard-widget{
  margin-left: 0;
}
#dashboard_widget_burst{
  .inside{
    padding: 0;
    margin: 0;
  }
}
.burst-dashboard-widget{
  &__content{
    display: flex;
    flex-wrap: wrap;
  }
  &__footer{
    display: flex;
    gap: var(--rsp-spacing-xxs);
    padding: var(--rsp-spacing-xs);
    font-size: var(--rsp-fs-300);
  }
  .burst-dashboard-widget__selected-date{
    margin-left: auto;
    font-size: var(--rsp-fs-300);
  }
  .burst-kpi-result{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: var(--rsp-spacing-xxs);
  }
  .burst-kpi{
    background-color: var(--rsp-dark-blue-faded);
    padding: var(--rsp-spacing-m);
    width: clamp(50%, 50%, 100%);
  }
  .block__explanation-and-stats{
    width: 100%;
    padding: var(--rsp-spacing-xs);
    grid-template-columns: 1fr 1fr;
    .uplift{
      margin-right: 0;
    }
  }
}
