<tr>
  <td style="border-radius: 8px; background-color: #ffffff; padding: 24px; font-size: 16px; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05)">
    <h3 style="margin: 0; padding: 0;">
      {title}
    </h3>
    <p style="margin: 0; padding-top: 4px; padding-bottom: 4px; font-size: 14px; color: #696969">{subtitle}</p>
    <div role="separator" style="line-height: 24px">&zwj;</div>
    <table style="width: 100%; font-weight: 700;" cellpadding="0" cellspacing="0" role="none">
      {table}
    </table>
    <p style="margin: 16px 0 0; text-align: right; font-size: 15px; font-weight: 700">
      <a href="{url}" style="color: #696969;">
        {learn-more}
      </a>
    </p>
  </td>
</tr>
<tr role="separator">
  <td style="line-height: 20px">&zwj;</td>
</tr>
